Build_VS2017/
Builds/
Library/
ProjectSettings/
SketchWithMoCap.Editor.csproj
SketchWithMoCap.csproj
SketchWithMoCap.sln
SketchWithMoCap.userprefs
Temp/
UWP/
UnityPackageManager/
obj/
.vs/
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj


